.container {
	margin : 3%;
}
.content-heading {
	padding-bottom: 2%;
    align-items: center; 
}
.main-content,.row1 {
	display: flex;
}
.detail-container {
    flex: 7;
    display: flex;
    padding: 2%;
    background-color: #fff;
    align-items: flex-start;
}
.detail-container img {
    margin-top: 2%;
    flex: 1;
}
.detail-container div {
    flex: 9;
    padding-top: 1%;
    padding-bottom: 1%;
    word-wrap: break-word;
}
.nav-btns {
    margin-left: 2%;
    height: 50px;
    flex: 2;
    width: 100%;
	border-radius: 5px 5px 5px 5px;
    display: flex;
}
.nav-btns div {
    background-color:#fff;
    flex: 1;
    margin: 1%;
    text-align: center;
    line-height: 45px;
}
.nav-btns div:hover,
.nav-btns div:focus {
    color: var(--cornflower);
    cursor: pointer;
}
.book-name {
    flex: 1;
}
.auth-name,.book-name {
    color: #4e4e4e;
}
