.container {
	margin : 3%;
}
.content-heading {
	padding-bottom: 2%;
    align-items: center; 
}
.heading-text {
	flex: 7;
}
.heading-book-count {
	flex: 7;
	text-align: right;
}
.heading-spacer {
	flex: 4;
	margin-left: 2%;
}
.main-content {
	display: flex;
}
.add-btn {
	margin-left: 2%;
}
.list-container {
	flex: 7;
}
.add-btn,.add-btn button {
	flex: 2;
	width: 100%;
}
.add-btn button {
	color: white;
    font-size: 1.2em;
    font-weight: bold;
    font-family: "Roboto";
    height: 50px;
	border-style: none;
	border-radius: 5px 5px 5px 5px;
	background-color: var(--cornflower);
}
.list-item {
	padding: 2%;
	background-color: #fff;
	margin-bottom: 0.2%;
	display: flex;
	align-items: flex-start;
}
.list-item img {
	margin-top: 2%;
}
.list-content {
	flex: 1;
	margin-left: 2%;
}
.list-content div {
	padding-top: 0.5%;
	padding-bottom: 0.5%;
}
.authorlist-row1 {
	display: flex;
}
.author-name {
	font-size: 1.2em;
	flex: 1;
}
.author-name,.authorlist-row2 {
	color: #4e4e4e;
}
.more-btn {
	color:var(--cornflower);
}
.more-btn:hover,
.more-btn:focus {
	cursor: pointer;
}