.top-bar {
	height: 10%;
	width:  100%;
    display: flex;
    min-height:  10vh;
    background-color:  #fff;
    justify-content: center;
    align-items: center; 
}
.brand-name {
	margin-left: 3%;
	flex: 1;
	font-size: 2em;
	color: var(--cornflower);
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;

}
.top-bar a {
	text-decoration: none;
	color: #8c8c8c;
}
.top-bar .active {
	border-bottom: 1px solid var(--cornflower);
	color: var(--cornflower);
	cursor: pointer;
}
.active {
	color: var(--cornflower);
}
.top-bar div {
	margin-right: 6%;
}